.season-display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.season-display--summer {
  background-color: orange;
}

.season-display--summer .icon {
  color: red;
}

.season-display--winter {
  background-color: aliceblue;
}

.season-display--winter .icon {
  color: blue;
}

.icon-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.icon-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}